---
import Layout from '../layouts/Layout.astro';
import InfoPanel from '../components/InfoPanel/InfoPanel.svelte';
---

<Layout title="Welcome to Astro.">
  <main class="flex w-full">
    <InfoPanel />
  </main>
</Layout>
