---
import Layout from '../layouts/Layout.astro';
import InfoPanel from '../components/InfoPanel/InfoPanel.svelte';
import Projects from '../containers/Projects/Projects.svelte';
---

<Layout>
  <main class="flex flex-col md:flex-row w-full gap-6">
    <InfoPanel />
    <Projects />
  </main>
</Layout>
