---
import '../styles/app.scss';

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Syne:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="How to Become an SEO Expert (8 Steps)" />
    <meta property="og:description" content="Get from SEO newbie to SEO pro in 8 simple steps." />
    <meta property="og:url" content="https://kubu-designer.vercel.app" />

    <meta property="og:image" content="https://kubu-designer.vercel.app/avatar.svg" />
    <title>{title}</title>
  </head>
  <body class="px-4 pt-4 sm:px-6 sm:pt-6">
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
</style>
