---
import '../styles/app.scss';

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Syne:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="title" content="Kuba Mikołajczyk - Digital Product Designer" />
    <meta
      name="description"
      content="Kuba Mikołajczyk | Creativity driven guy with a passion for Product Design. I love to work with 3D! | Connect with them on Dribbble; the global community for designers and creative professionals."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kubu-designer.vercel.app/" />
    <meta property="og:title" content="Kuba Mikołajczyk - Digital Product Designer" />
    <meta
      property="og:description"
      content="Kuba Mikołajczyk | Creativity driven guy with a passion for Product Design. I love to work with 3D! | Connect with them on Dribbble; the global community for designers and creative professionals."
    />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://kubu-designer.vercel.app/" />
    <meta property="twitter:title" content="Kuba Mikołajczyk - Digital Product Designer" />
    <meta
      property="twitter:description"
      content="Kuba Mikołajczyk | Creativity driven guy with a passion for Product Design. I love to work with 3D! | Connect with them on Dribbble; the global community for designers and creative professionals."
    />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />
    <title>{title}</title>
  </head>
  <body class="px-4 pt-4 sm:px-6 sm:pt-6">
    <slot />
  </body>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Kuba",
      "url": "https://kubu-designer.vercel.app/",
      "image": "",
      "sameAs": [
        "https://www.linkedin.com/in/kuba-mikolajczyk/",
        "https://kubu-designer.vercel.app/"
      ],
      "jobTitle": "Digital Product Designer",
      "worksFor": {
        "@type": "Organization",
        "name": "Netguru"
      }
    }
  </script>
</html>
<style is:global>
  :root {
  }
</style>
